<!doctype html>
<html lang="en">
<head>
	<title>Verify your email</title>
</head>
<body>
	<p>Hi {{ first_name }},</p>
	<p>Thank you for signing up for Unboring KW!</p>
	<p>Please click on the link below to verify your email.</p>
	<p><a href="https://www.unboringkw.com/verify-email?token={{ token }}">Verify email</a></p>
</body>
</html>